<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <title>server</title>
    <style>
        body {
          font-family: "Source Code Pro", monospace;
          background-color: rgb(151, 151, 151);
        }
        .box{
            border-color: black;
            border-style: solid;
            border-width: 3px;
            border-radius: 10px;
            margin: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .hidden{
          display: none;
        }
        legend{
          font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1>IoT python server 😎😎</h1>

        <input type="checkbox" name="debug_checkbox" id="debug_checkbox" value="unchecked"> 
        <label for="debug_checkbox">show debug info 💻</label>

        <p id="heartbeat">awaiting heartbeat response...</p>

        <fieldset class="box">
          <legend>sensors</legend>

          <p id="display" class="debug hidden">waiting for packet...</p>
          <p id="temp">waiting for packet...</p>
          <p id="hum">waiting for packet...</p>
          <p id="time_diff" class="debug hidden">waiting for packet...</p>
          <p id="rssi" class="debug hidden">waiting for packet...</p>
        </fieldset>

        <fieldset class="box">
          <legend>packet trace</legend>

          <p>client (this device)</p>
          <p>server</p>
          <p>gateway station</p>
          <p>sensor station</p>
        </fieldset>
    </div>


    <script type="module" src="static/main.js"></script>
</body>
</html>